<a href="https://colab.research.google.com/github/JorgeFreitagAcademic/exercises/blob/main/exercises_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bibliotecas Importadas

In [1]:
import math
import random
import string

#Exercícios 41 - 80

##41

LEIA UM NÚMERO INTEIRO E IMPRIMA ATÉ O VALOR 0.

In [18]:
while True:
  try:
    numero = int(input('Digite um número inteiro para realizar uma contagem regressiva: '))
    while numero >= 0:
      print(numero)
      numero -= 1
    break
  except ValueError:
    print('Erro')

Digite um número inteiro para realizar uma contagem regressiva: t
Erro
Digite um número inteiro para realizar uma contagem regressiva: 5
5
4
3
2
1
0

##42

FAÇA UM PROGRAMA QUE IMPRIME A QUANTIDADE DE NÚMEROS PARES DE 100 ATÉ 200, INCLUINDO- OS

In [ ]:
pares = 0
for x in range(100,201):
  if x % 2 == 0:
    pares += 1
print(f'O número de pares entre 100 e 200 é de {pares}')

O número de pares entre 100 e 200 é de 51

##43

FAÇA UM PROGRAMA PARA CONTAR A QUANTIDADE DE NÚMEROS PARES ENTRE DOIS NÚMEROS QUAISQUER

In [ ]:
print('Digite dois valores para receber a quantidade de pares entre estes')
valores = []
pares = 0
while True:
  try:
    while len(valores) < 2:
      valor = int(input('Digite o valor inteiro: '))
      valores.append(valor)
    break
  except ValueError:
    print('Erro')
for x in range(min(valores),max(valores) + 1):
  if x % 2 == 0:
    pares += 1
print(f'O número de pares entre {min(valores)} e {max(valores)} é de {pares}')

Digite dois valores para receber a quantidade de pares entre estes
Digite o valor inteiro: 67
Digite o valor inteiro: 15
O número de pares entre 15 e 67 é de 26

##44

FAÇA UM PROGRAMA QUE IMPRIME A SOMA DE TODOS OS NÚMEROS PARES ENTRE DOIS NÚMEROS QUAISQUER, INCLUINDO- OS.

In [ ]:
print('Digite dois valores para receber a quantidade de pares entre estes')
valores = []
soma = 0
while True:
  try:
    while len(valores) < 2:
      valor = int(input('Digite o valor inteiro: '))
      valores.append(valor)
    break
  except ValueError:
    print('Erro')
for x in range(min(valores),max(valores) + 1):
  if x % 2 == 0:
    soma += x
print(f'A soma dos valores entre {min(valores)} e {max(valores)} é de {soma}')

Digite dois valores para receber a quantidade de pares entre estes
Digite o valor inteiro: 10
Digite o valor inteiro: 22
A soma dos valores entre 10 e 22 é de 112

##45

FAÇA UM PROGRAMA QUE CALCULE O FATORIAL DE UM NÚMERO.

In [ ]:
while True:
  try:
    valor = int(input("Digite um número: "))
    fat = 1
    if valor < 0:
      print("Digite um número inteiro par")
    elif valor == 0:
      print("O fatorial de 0 é: 1")
      break
    else:
      for i in range(1,valor + 1):
          fat = fat*i
      print(f'O fatorial de {valor} é: {fat}')
      break
  except ValueError:
    print('Deve ser um número')

Digite um número: 8
O fatorial de 8 é: 40320

##46

FAÇA UM PROGRAMA QUE DETERMINE O MOSTRE OS CINCO PRIMEIROS MÚLTIPLOS DE  3, CONSIDERANDO NÚMEROS MAIORES QUE 0.

In [ ]:
numbase = 3
for multiplo in range(1,6):
  print(f'3 x {multiplo} = {3 * multiplo}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

##47

FAÇA UM ALGORITMO UTILIZANDO O COMANDO WHILE QUE MOSTRA UMA CONTAGEM REGRESSIVA NA TELA, INICIANDO EM 10 E TERMINANDO EM  0 . MOSTRAR UMA MENSAGEM “ FIM!”  APÓS A CONTAGEM.

In [ ]:
timer = 10
while timer > 0:
  print(timer)
  timer -= 1
print('FIM!')

10
9
8
7
6
5
4
3
2
1
FIM!

##48

FAÇA UM PROGRAMA QUE PEÇA AO USUÁRIO PARA DIGITAR 10 VALORES E SOME- OS.

In [ ]:
valores = []
print('Digite 10 valores para receber a soma total')
while True:
  try:
    while len(valores) < 10:
      numero = int(input('Digite os valores: '))
      valores.append(numero)
    break
  except ValueError:
    print('Erro')
print(f'A soma total é {sum(valores)}')

Digite 10 valores para receber a soma total
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
Digite os valores: 1
A soma total é 10

##49

FAÇA UM PROGRAMA QUE LEIA 10 INTEIROS E IMPRIMA SUA MÉDIA.

In [ ]:
valores = []
print('Digite 10 valores para receber a média')
while True:
  try:
    while len(valores) < 10:
      numero = int(input('Digite os valores: '))
      valores.append(numero)
    break
  except ValueError:
    print('Erro')
print(f'A soma total é {sum(valores) / 10}')

Digite 10 valores para receber a média
Digite os valores: 2
Digite os valores: 4
Digite os valores: 2
Digite os valores: 4
Digite os valores: 2
Digite os valores: 4
Digite os valores: 2
Digite os valores: 4
Digite os valores: 2
Digite os valores: 4
A soma total é 3.0

##50

FAÇA UM PROGRAMA QUE LEIA 10 INTEIROS POSITIVOS, IGNORANDO NAO POSITIVOS, E IMPRIMA SUA MÉDIA.

In [ ]:
valores = []
print('Digite 10 valores positivos para receber a média')
while True:
  try:
    while len(valores) < 10:
      numero = int(input('Digite os valores: '))
      if numero < 0:
        print('Deve ser um número positivo')
      else:
        valores.append(numero)
    break
  except ValueError:
    print('Erro')
print(f'A soma total é {sum(valores) / 10}')

Digite 10 valores positivos para receber a média
Digite os valores: 22
Digite os valores: -15
Deve ser um número positivo
Digite os valores: 59
Digite os valores: 58
Digite os valores: 31
Digite os valores: 22
Digite os valores: 59
Digite os valores: 2
Digite os valores: 3
Digite os valores: 5
Digite os valores: 1
A soma total é 26.2

##51

FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO N E DEPOIS IMPRIMA OS N PRIMEIROS NUMEROS NATURAIS ÍMPARES.

In [ ]:
print('Insira um valor para receber os números naturais ímpares anteriores')
while True:
  try:
    numero = int(input('Digite um número: '))
    for x in range(1,numero + 1):
      if x % 2 != 0:
        print(x)
    break
  except ValueError:
    print('Erro')

Insira um valor para receber os números naturais ímpares anteriores
Digite um número: 9
1
3
5
7
9

##52

FAÇA UM PROGRAMA QUE CALCULE E MOSTRE A SOMA DOS 50 PRIMEIROS NUMEROS PARES.

In [ ]:
soma = 0
for num in range (1, 51):
  if num % 2 == 0:
    soma += num
print(f'A soma é: {soma}')

A soma é: 650

##53

IMPRIMA OS PRIMEIROS 10 NÚMEROS NATURAIS USANDO O LOOP WHILE.

In [ ]:
num = 1
while num <= 10:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10

##54

IMPRIMIR TABUADA DE   UM   DETERMINADO NÚMERO.

In [ ]:
while True:
  try:
    numbase = int(input('Digite um número para obter sua tabuada: '))
    for num in range(1, 11):
      print(f'{numbase} x {num} = {numbase * num}')
    break
  except ValueError:
    print('Erro')

Digite um número para obter sua tabuada: -7
-7 x 1 = -7
-7 x 2 = -14
-7 x 3 = -21
-7 x 4 = -28
-7 x 5 = -35
-7 x 6 = -42
-7 x 7 = -49
-7 x 8 = -56
-7 x 9 = -63
-7 x 10 = -70

##55

EXIBIR NÚMEROS DE -10 A -1 USANDO O LOOP FOR. EXIBIR UMA MENSAGEM " FEITOOOO" APÓS A EXECUÇÃO BEM- SUCEDIDA DO LOOP FOR

In [ ]:
for num in range(-10, 0):
  print(num)
print('FEITOOOO')

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
FEITOOOO

##56

LEIA UM NÚMERO INTEIRO E MOSTRE O CUBO ATÉ ESSE NÚMERO.

In [ ]:
while True:
  try:
    num = int(input('Digite um número: '))
    numcubo = num ** 3
    for x in range(num, numcubo):
      print(x)
    break
  except ValueError:
    print('Erro')

Digite um número: 2
2
3
4
5
6
7

##57

FAÇA UM PROGRAMA QUE LEIA UM NÚMERO INTEIRO POSITIVO N E IMPRIMA TODOS OS NÚMEROS NATURAIS DE 0 ATÉ N EM ORDEM DECRESCENTE

In [ ]:
while True:
  try:
    num = int(input('Digite um número inteiro positivo: '))
    for x in range(num, 0, -1):
      print(x)
    break
  except ValueError:
    print('Erro')

Digite um número inteiro positivo: 5
5
4
3
2
1

##58

FAÇA UM PROGRAMA QUE LEIA UM NUMERO INTEIRO POSITIVO N E IMPRIMA TODOS OS NÚMEROS NATURAIS DE 0 ATÉ N EM ORDEM CRESCENTE.

In [ ]:
while True:
  try:
    num = int(input('Digite um número inteiro positivo: '))
    for x in range(1, num + 1):
      print(x)
    break
  except ValueError:
    print('Erro')

Digite um número inteiro positivo: 5
1
2
3
4
5

##59

LEIA UM NÚMERO INTEIRO, E CONTE O NÚMERO TOTAL DE DÍGITOS. EX: 3 (1 DÍGITO), 10 ( 2 DÍGITOS), 233 ( 3 DÍGITOS), ETC.

In [ ]:
d = 0
c = 0
m = 0
while True:
  try:
    num = int(input('Digite um número: '))
    if ()
    if (num / 10) > 1:
      d += 1
    if (num / 100) > 1:
      c += 1
    if (num / 1000) > 1:
      c += 1
  except ValueError:
    print('Erro')
if m > 0:
  print(f'{num} tem 4 dígitos')

TypeError: ignored

##60

FAÇA UM PROGRAMA QUE IMPRIME A SOMA DE TODOS OS NÚMEROS ÍMPARES ENTRE DOIS NÚMEROS QUAISQUER, INCLUINDO- OS.

In [ ]:
lista_impares = []
while True:
  try:
    prinum = int(input('Digite o primeiro número: '))
    segnum = int(input('Digite o segundo número: '))
    for num in range(prinum, segnum + 1):
      if (num % 2) != 0:
        lista_impares.append(num)
    break
  except ValueError:
    print('Erro')
print(sum(lista_impares))

Digite o primeiro número: 4
Digite o segundo número: 82
1677

EXTRA: NUMEROS PRIMOS

In [ ]:
lista = []
prinum = int(input('Digite o primeiro número: '))
segnum = int(input('Digite o segundo número: '))
for num in range(prinum, segnum + 1):
  lista.append(num)
  if 1 in lista:
    lista.remove(1)
  for div in range(2,num):
    if (num % div) == 0:
      if num in lista:
        lista.remove(num)
print(lista)
print(sum(lista))

Digite o primeiro número: 1
Digite o segundo número: 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
328

##61

ESCREVA UM PROGRAMA PARA SOMAR TODOS OS I TENS EM UMA L ISTA.

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 21)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 91)
    lista.append(x)
# Programa
print(lista)
soma = 0
for reader in lista:
  soma += reader
print(soma)

[32, 150, 21, 236, 155, 390]
984

##62

ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS I TENS DE UMA L ISTA

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 21)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 91)
    lista.append(x)
# Programa
print(lista)
mult = 1
for reader in lista:
  mult *= reader
print(mult)

[27, 58, 132, 292, 365, 264]
5816280349440

##63

ESCREVA UM PROGRAMA PARA OBTER O MAIOR NÚMERO DE UMA L ISTA.

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 21)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 91)
    lista.append(x)
# Programa
print(lista)
print(max(lista))

[64, 156, 84, 124, 350, 444, 364, 208, 108, 610, 792, 636, 325, 938, 690, 1312, 884, 486]
1312

##64

ESCREVA UM PROGRAMA PARA OBTER O MENOR NÚMERO DE UMA L ISTA.

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 21)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 91)
    lista.append(x)
# Programa
print(lista)
print(min(lista))

[15, 64, 123, 60, 310, 252, 49, 240, 297, 780, 649, 684, 1170, 826, 1110, 1328]
15

##65

ESCREVA UM PROGRAMA PARA REMOVER DUPLICATAS DE UMA L ISTA.

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 11)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 11)
    lista.append(x)
# Programa
print(lista)
print(set(lista))

[3, 10, 9, 36, 10]
{9, 10, 3, 36}

##66

ESCREVA UM PROGRAMA PARA COPIAR UMA L ISTA PARA OUTRA.

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 11)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 11)
    lista.append(x)
# Programa
copia = []
print(lista)
for reader in lista:
  copia.append(reader)
print(copia)

[5, 18, 24, 24, 15, 54, 42, 80]
[5, 18, 24, 24, 15, 54, 42, 80]

##67

ESCREVA UM PROGRAMA QUE RECEBA DUAS LISTAS E RETORNE TRUE SE ELAS TIVEREM PELO MENOS UM ELEMENTO EM COMUM.

In [ ]:
lista1 = []
lista2 = []
listlen = random.randint(1, 6)
while len(lista1) < listlen:
  for x in range(1, listlen + 1):
    x = random.randint(1, 11)
    lista1.append(x)
while len(lista2) < listlen:
  for x in range(1, listlen + 1):
    x = random.randint(1, 11)
    lista2.append(x)
print(lista1)
print(lista2)
true = 0
for num1 in lista1:
  for num2 in lista2:
    if num1 == num2:
      true += 1
if true > 0:
  print(True)
else:
  print(False)

[11, 6, 4, 2]
[2, 5, 9, 6]
True

##68

ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA.

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 11)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 11)
    lista.append(x)
# Programa
print(lista)
tuple(lista)

[6, 18, 21, 32, 45]

(6, 18, 21, 32, 45)

##69

ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM DIFERENTES T IPOS DE DADOS.

In [ ]:
tupla = (12, 'afas', True)
print(tupla)

(12, 'afas', True)

##70

ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM NÚMEROS E IMPRIMIR UM I TEM.

In [ ]:
tupla = (2, 4, 18, 28, 55, 6)
print(lista)
num = random.randint(1, listlen)
print(lista[num])

[2, 4, 18, 28, 55, 6]
4

##71

ESCREVA UM PROGRAMA PARA ADICIONAR UM I TEM EM UMA TUPLA.

In [ ]:
tupla = (2, 4, 18, 28, 55, 6)
lista = list(tupla)
lista.append(3)
tupla = tuple(lista)
print(tupla)

(2, 4, 18, 28, 55, 6, 3)

##72

ESCREVA UM PROGRAMA PARA OBTER O 4 º ELEMENTO E O ÚLTIMO DE UMA TUPLA.

In [ ]:
tupla = (2, 4, 18, 28, 55, 6)
print(tupla[3], tupla[len(tupla) - 1])

28 6

##73

ESCREVA UM PROGRAMA PARA ENCONTRAR OS I TENS REPETIDOS DE UMA TUPLA.

In [ ]:
tupla = (2, 4, 18, 28, 55, 6, 18, 4)
lista = []
for reader in tupla:
  lista.append(reader)
  print(reader)
print(lista)
if reader in lista:
  print(reader)

2
4
18
28
55
6
18
4
[2, 4, 18, 28, 55, 6, 18, 4]
4

##74

ESCREVA UM PROGRAMA PARA CONVERTER UMA L ISTA EM UMA TUPLA.

In [ ]:
# random list generator (Integer version)
lista = []
listlen = random.randint(1, 21)
while len(lista) < listlen:
  for x in range(1, listlen + 1):
    x = x * random.randint(1, 61)
    lista.append(x)
# Programa
print(lista)
tupla = tuple(lista)
print(tupla)

[18, 48, 39, 4, 75, 216, 77, 192, 180]
(18, 48, 39, 4, 75, 216, 77, 192, 180)

##75

ESCREVA UM PROGRAMA PARA ADICIONAR UMA CHAVE A UM DICIONÁRIO.

In [3]:
dicionario = {'nome': 'julio', 'idade': '22', 'cor': 'verde', 'altura': 1.72, 'massa': 90}
dicionario['pai'] = 'pereira'
print(dicionario)

{'nome': 'julio', 'idade': '22', 'cor': 'verde', 'altura': 1.72, 'massa': 90, 'pai': 'pereira'}

##76

CRIE DOIS DICIONÁRIOS DIFERENTES E CONCATENE PARA CRIAR UM NOVO.

In [4]:
dic1 = {'nome': 'jorge', 'idade': '20'}
dic2 = {'curso': 'ciencias da computacao', 'periodo': 'noturno'}
dic1.update(dic2)
print(dic1)

{'nome': 'jorge', 'idade': '20', 'curso': 'ciencias da computacao', 'periodo': 'noturno'}

##77

ESCREVA UM PROGRAMA PARA VERIFICAR SE UMA DETERMINADA CHAVE JÁ EXISTE EM UM DICIONÁRIO.

In [20]:
dicionario = {'nome': 'julio', 'idade': '22', 'cor': 'verde', 'altura': 1.72, 'massa': 90}
def checar(dic, key): 
    if key in dic.keys(): 
        print('Chave existente') 
        print(f'Valor da chave = {dic[key]}') 
    else: 
        print("Not present") 
checar(dicionario, 'idade')

Chave existente
Valor da chave = 22

##78

ESCREVA UM PROGRAMA PARA I TERAR SOBRE DICIONÁRIOS USANDO LOOPS FOR.

In [19]:
dicionario = {'nome': 'julio', 'idade': '22', 'cor': 'verde', 'altura': 1.72, 'massa': 90}
for key, value in dicionario.items():
  print(key, ' => ', value)

nome  =>  julio
idade  =>  22
cor  =>  verde
altura  =>  1.72
massa  =>  90

##79

ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS EM UM DICIONÁRIO.

##80

ESCREVA UM PROGRAMA PARA REMOVER UMA CHAVE DE UM DICIONÁRIO

100

In [11]:
locals()
quant = []
def lista_var():
  x = 'teste'
  y = 'teste2'
  z = 'teste3'
  for run in locals():
    quant.append(run)
lista_var()
print(len(quant))

3